@import "../scss/mixing";
@import '../scss/vandor';
html {
  // font-size: 62.5%;
}

body {
  font-family: 'Roboto Slab', serif;
  // font-weight: bold;
}
.header-section{
  background: #2e91fc;
  color: white;
  text-align: center;
  padding: 2rem .5rem .7rem .5rem;
 & .client .success-section{
   font-size: 2rem;
 }
 & .congrat-section{
  font-size: 1.3rem;
  & span{
    color: yellow;
  }
 }
 & .attention{
   font-size: 1.7rem;
 }
}
.common-section{
  text-align: center;
  color: #2a3135;
  padding: 2rem 0;
  & h2{
    font-size: 4rem;
    padding-bottom: .5rem;
  }
  & h3{
    padding-bottom: .5rem;
    color: #2e91fc;
  }
  & p{
    font-size: 1.1rem;
  }
  & .common-section-title{
    padding: .5rem 7rem;
    font-size: 4rem;
    & span{
      color: #2e91fc;
    }
  }
  & .common-section-text h2{
    font-size: 3rem;
    margin: .5rem 3rem;
    border-top: 2px dotted gray;
    & span{
      color: #2e91fc;
    }
  }
  & .text-2{
    font-size: 2rem;
    padding: .5rem 3rem;
  }
}
.download-guide{
  padding: .5rem 0;
  & h3{
    font-size: 2.1rem;
    text-align: center;
    border-bottom: 2px dotted gray;
    color: #2e91fc;
    margin-bottom: 1.2rem;
  }
  & .download-guide-fitures p{
    line-height: 1.7rem;
    font-size: 1.5rem;
    &  span{
      color: #2e91fc;
    }
  }
}
.guide-section{
  padding: .5rem;
  & .guide{
    margin: 2rem 0;
    padding: .5rem 0 1rem 0;
    text-align: center;
    color: #fff;
    background: #e93d3d;
    cursor: pointer;
    & p{
      margin: 0;
      line-height: .2rem;
    }
  }
  & .download-text{
    color: #2e91fc;
    text-align: center;
    font-size: 1.2rem;
  }
}
.google-training {
  margin: 4rem 5rem;
  padding: .5rem 0 1rem 0;
  text-align: center;
  color: #fff;
  background: #e93d3d;
  cursor: pointer;
  & p{
    margin: 0;
    line-height: .2rem;
  }
}

.exposure-section{
  background: rgb(67, 70, 75);
  text-align: center;
  padding: 1.8rem .5rem;
  & h3{
    font-size: 2.5rem;
    padding-bottom: .8rem;
    color: rgb(197, 194, 194);
  }
  & figure{
    display: flex;
    justify-content: center;
    & .img-tik{
      display: flex;
      justify-content: center;
      width: 6rem;
    }
  }
  & p{
    font-size: 1.9rem;
    padding: .5rem 1rem;
    color: rgb(158, 157, 157);
  }
}
.bono-section{
  margin-bottom: 10rem;
  & .text-img img{
    height: 50vh;
  }
  & .text-img p{
    font-size: 1.7rem;
    padding: .5rem 2rem;
    text-align: center;
    color: #2e91fc;
  }
  & .bono-intro{
    padding-top: 1.5rem;
    & p{
      font-size: 1.2rem;
    }
    & .bono-fitures{
      padding-top: 3rem;
      & p{
        line-height: .8rem;
      }
    }
  }
  & .your-strategy{
    margin: 3rem 0;
    padding: .5rem 0 1rem 0;
    text-align: center;
    color: #fff;
    background: #e93d3d;
    cursor: pointer;
    & p{
      margin: 0;
      line-height: .2rem;
    }
  }
}
.select-btn{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  & button{
    border: none;
    outline: none;
    background: #2e91fc;
    color: #fff;
    padding: .7rem 3rem;
    border-radius: .3rem;
  }
}
.footer{
  background: #2a3135;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  color: gray;
}
.modal .modal-content{
  display: flex;
  justify-content: center;
  width: 700px;
}
.modal-body{
  input{
    border: none;
    background: #dff0e5;
  }
} 

@media (max-width:768px) {
  .header-section{
   & .client .success-section{
     font-size: 1.1rem;
   }
   & .congrat-section{
    font-size: 1.1rem;
   }
   & .attention{
     font-size: 1.3rem;
   }
  }
  .common-section{
    & h2{
      font-size: 2rem;
    }
    & p{
      font-size: 1.1rem;
    }
    & .common-section-title{
      padding: .5rem ;
      font-size: 2rem;
    }
    & .common-section-text h2{
      font-size: 1.5rem;
      margin: .5rem 1rem;
     
    }
    .text-2{
      font-size: 1rem;
    }
  }
  .download-guide{
    & h3{
      font-size: 1.5rem;
      margin-bottom: .8rem;
    }
    & .download-guide-fitures p{
      line-height: 2rem;
      font-size: .8rem;
    }
  }
  .guide-section{
    & .guide{
      & p{
        margin: 0;
        line-height: 2rem;
        font-size: .8rem;
      }
    }
    & .download-text{
      font-size: .8rem;
    }
  }
  .exposure-section{
    & h3{
      font-size: 1.2rem;
    }
    & figure{
      display: flex;
      justify-content: center;
    }
    & p{
      font-size: 1rem;
    }
  }
  .google-training {
    margin: 0 0;
    padding: .5rem 0 .5rem 0;
    & p{
      margin: 0;
      line-height: 1.2rem;
    }
  }
  .bono-section{
    margin-bottom: 4rem;
    & figure{
      display: flex;
      justify-content: center;
    }
    & .text-img img{
      height: 50vh;
    }
    & .text-img p{
      font-size: 1rem;
      padding: .5rem 2rem;
      text-align: center;
      color: #2e91fc;
    }
    & .bono-intro{
      padding-top: 1.5rem;
      & p{
        font-size: .8rem;
      }
      & .bono-fitures{
        padding-top: 2rem;
        & p{
          line-height: 1.8rem;
        }
      }
    }
    & .your-strategy{
      & p{
        margin: 0;
        line-height: 1.5rem;
      }
    }
  }
}